<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html" />

<dom-module id="gestor-clientes">
  <template>
    <style>
      :host {
        display: inline-block;
        padding: 10px;
      }
    </style>
    <div  class="container">
      <div id="divclientes" class="row">
        <h1 class="col-lg-12">Gestor de Clientes</h1>
        <button on-click="obtenerClientes">Obtener Clientes</button>
          </div>
        <div class="row">
            <table class="table table-striped  col-lg-12 col-xs-12">
              <thead>
                <th>ID</th>
                <th>Nombre</th>
                <th>apellido</th>
              </thead>
          <tbody>
            <template is="dom-repeat" items="{{clientes}}">
              <tr>
                <td>
                  [[item.CustomerID]]
                </td>
                <td>
                [[item.ContactName]]
                </td>
              <td>
                [[item.CompanyName]]
              </td>
            </tr>
            </template>
          </tbody>
        </table>
      </div>

      <div id="divMovimientos" class="row">
        <h1 class="col-lg-12">Consultar Movimientos</h1>
        <button on-click="obtenerMovimientos">Obtener Movimientos</button>
          </div>
          <div class="row">
        <table class="table table-striped  col-lg-12 col-xs-12">
          <thead>
            <th>ID</th>
            <th>Nombre</th>
            <th>apellido</th>
          </thead>
          <tbody>
            <template is="dom-repeat" items="{{clientes}}">
              <tr>
                <td>
                  [[item.idcliente]]
                </td>
                <td>
                [[item.nombre]]
                </td>
              <td>
                [[item.apellido]]
              </td>
            </tr>
            </template>
          </tbody>
        </table>
      </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorClientes extends Polymer.Element {
      static get is() { return 'gestor-clientes'; }
      static get properties() {
        return {
          clientes:{
          type:Array,
          notify:true
         }
        };
      }
      obtenerMovimientos(){
        var request = new XMLHttpRequest();
        request.open("GET","http://localhost:3002/movimientos",false);
        request.send();
        this.clientes = JSON.parse(request.responseText);
        console.log( this.clientes);
      }
      obtenerClientes(){
        var request = new XMLHttpRequest();
        request.open("GET","https://services.odata.org/V4/Northwind/Northwind.svc/Customers",false);
        request.send();
        this.clientes = JSON.parse(request.responseText).value;
        console.log( this.clientes);
      }
      anadirCliente(){
        var request = new XMLHttpRequest();
        request.open("POST","https://services.odata.org/V4/Northwind/Northwind.svc/Customers",false);
        request.setRequestHeader("Accept","application/json");
        request.setRequestHeader("Content-type","application/json");
        var inNuevocliente = {"CustomerID":"12345","ContactName":"YOYO","CompanyName":"My Banco"};
        var body = JSON.Stringify(inNuevocliente);
        request.send(body);
        this.respuesta = request.responseText;
        onsole.log( this.clientes);
      }
    }

    window.customElements.define(GestorClientes.is, GestorClientes);
  </script>
</dom-module>
